@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500;600;700&family=The+Nautigal:wght@700&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Header Started Here */
header h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-top: 50px;
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

/* Main Section Starts here  */

.intro-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  color: rgba(58, 58, 58, 1);
}
.intro-area .left-part h1 {
  font-size: 54px;
  color: rgba(58, 58, 58, 1);
}
.intro-area .left-part button {
  margin-top: 30px;
  padding: 14px 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgba(224, 44, 109, 1);
  background-color: rgba(224, 44, 109, 1);
  border-radius: 41px;
  transition: 0.3s;
}
.intro-area .left-part button:hover {
  background-color: white;
  border: 1px solid rgba(224, 44, 109, 1);
  color: rgba(224, 44, 109, 1);
}
.intro-area .right-part {
  position: relative;
}
.intro-area .right-part .circle {
}
.intro-area .right-part .main-camera {
  position: absolute;
  top: 50px;
  right: 50px;
  transition: 2s;
}
.intro-area .right-part .main-camera:hover {
  transform: rotate(360deg);
}

/* Sponsor-list Started here  */

.sponsor-list {
  padding: 50px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Product-items Started  Here  */

.product > .container > h2 {
  margin: 150px 0 30px 0;
  font-size: 28px;
  font-weight: 600;
  color: rgba(58, 58, 58, 1);
  text-align: center;
}
.product-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product-item {
  width: 300px;
  height: 476px;
  padding: 17px 14px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product-item .product-photo {
  width: 300px;
  height: 256px;
  margin: 0 auto;
}
.product-item .product-details {
  margin-top: 10px;
}
.product-item .product-details h2 {
  margin: 20px 0 20px 0;
  font-size: 28px;
  font-weight: 500;
  color: rgba(24, 25, 31, 1);
}
.product-item .product-details h3 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.product-details .ratting {
  margin: 5px 0 15px 0;
  align-items: center;
}
.product-details .ratting i {
  color: #fb8200;
}
.product-details .ratting span {
  position: relative;
  top: 2px;
  color: rgba(94, 99, 102, 1);
  padding-left: 10px;
  font-weight: 700;
  font-size: 20px;
}
.product-details small {
  color: rgba(120, 120, 133, 1);
  font-size: 14px;
  font-weight: 700;
}
.product-section button {
  color: rgba(224, 44, 109, 1);
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  position: relative;
  top: 20px;
  left: 440px;
}

/* My Section Started Here  */

.my-section {
  margin-top: 60px;
  background-color: #96ceb4;
  padding: 80px 0px;
  align-items: center;
}
.container .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.left-part,
.right-part,
.middle-part {
  padding-left: 30px;
}
.content .left-part h3 {
  margin-bottom: 10px;
}
.content .right-part {
  position: relative;
  right: 15px;
}
.content ul li {
  list-style: none;
  margin: 5px 0;
}
.content ul li a {
  text-decoration: none;
  color: rgba(24, 25, 31, 1);
  line-height: 1.3em;
}
.content ul li a:hover {
  text-decoration: underline;
  color: rgba(224, 44, 109, 1);
}

/* footer starts here  */
footer {
  text-align: center;
  color: white;
  background-color: #0a0826;
  padding: 50px 0;
}
footer h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
footer p {
  font-size: 16px;
  font-weight: 400;
}
footer .social-media {
  color: white;
  margin-top: 20px;
}
footer .social-media i {
  font-size: 25px;
  margin: 10px;
  padding: 15px;
  color: white;
  background-color: #15132e;
  border-radius: 50%;
  transition: 0.3s;
}
footer .social-media i:hover {
  color: rgba(224, 44, 109, 1);
  transform: rotate(360deg);
}

/*---------------
 Responsiveness 
------------------ */

/* for tablet  */

@media screen and (max-width: 769px) {
  .intro-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
  .intro-area .right-part {
    margin-top: 20px;
    width: 90%;
    position: relative;
  }
  .intro-area .right-part .circle {
    width: 100%;
  }
  .intro-area .right-part .main-camera {
    transform: scale(0.5);
    position: absolute;
    right: -100px;
    top: -100px;
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
  }
  .container .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

/* for mobile  */
@media screen and (max-width: 600px) {
  .intro-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .intro-area .right-part {
    margin-top: 20px;
    width: 90%;
    position: relative;
  }
  .intro-area .right-part .circle {
    width: 98%;
  }
  .intro-area .right-part .main-camera {
    transform: scale(0.8);
    position: absolute;
    right: -50px;
    top: -50px;
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 30px;
  }
  .product-section button {
    position: relative;
    left: 20px;
  }
  .container .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
}
